1. Explain the key features of Python that make it a popular choice for programming.
 1.Easy to Read and Write – Clean syntax similar to English.
 2.Interpreted Language – Code runs line-by-line, great for debugging.
 3.Dynamically Typed – No need to declare variable types.
 4.Large Standard Library – Comes with many built-in modules.
 5.Cross-platform – Runs on Windows, Mac, Linux.
 6.Versatile – Great for web dev, data science, AI, automation, etc.
 7.Community Support – Lots of tutorials, libraries, and forums.

2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.
 1.keywords are predefined reserved words with specific meanings used to define stucture and rulws of programme.
 2.Role of Keywords in Python:
 3.Define the logic and structure of a Python program (e.g., conditions, loops, functions).
 4.Cannot be used as variable names, because they have fixed meaning.
 5.Help Python understand what action you want it to perform.
 6.Make code more readable.
    #now the example:

In [41]:
count = 5
while count > 0:
  print (count)
  count = count-1

5
4
3
2
1

3. Compare and contrast mutable and immutable objects in Python with examples.
 #Mutable objects are those whose values can be changed after creation.
 #Immutable objects are those whose values cannot be changed once they are created.
  #example for mutable data type (list)

In [42]:
resturant_menu = ["Chicken Fried Rice", "Chilli Chicken", "Manchurian Chicken"]
resturant_menu

['Chicken Fried Rice', 'Chilli Chicken', 'Manchurian Chicken']

In [43]:
  #example for immutable data type (string)

In [44]:
name = "sampita"
print(name)

sampita

In [45]:
name[0] = "a"

TypeError: 'str' object does not support item assignment

In [ ]:
name = "sonty"
print(name)

 4. Discuss the different types of operators in Python and provide examples of how they are used.
 1. Arithmetic Operators
 #Used to perform basic mathematical operations like addition, subtraction, multiplication, division, and more.

In [ ]:
 a = 20
 b = 5

In [46]:
 print(a + b)

25

In [47]:
print(a - b)

15

In [48]:
 print(a * b)

100

In [49]:
 print(a / b)

4.0

In [50]:
 print(a // b)

4

In [51]:
 print(a % b)

0

In [52]:
 print(a ** b)

3200000

 #2. Comparison (Relational) Operators
 #Used to compare two values to check for equality, greater than, less than, etc.

In [55]:
x = 5
y = 10

print(x==y)

False

In [56]:
print(x!=y)

True

In [58]:
 print(x>y)

False

In [59]:
 print(x<y)

True

In [60]:
 print(x>=5)

True

In [61]:
print(y<=10)

True

3. Logical Operators
#Used to combine multiple conditions (and/or/not).

In [62]:
x = 5
print(x > 2 and x < 10)

True

In [63]:
 print(x < 2 or x > 3)

True

In [64]:
print(not (x > 3))

False

#4. Assignment Operators
 #Used to assign values to variables and modify their values in place.

In [70]:
 a = 10
 a+=5 #a=a+5
 print(a)

15

In [71]:
 a-=2   #a=a-2
 print(a)

13

In [72]:
 a*=2
 print(a)

26

In [75]:
a /=2
print(a)

13.0

#5. Bitwise Operators

 #Operate at the bit level, performing operations like AND, OR, XOR, NOT, and shifting.

In [77]:
 a = 5 #0101
 b = 3 #0011
print(a & b)

1

In [78]:
 print(a | b)

7

In [79]:
 print(a ^ b)

6

In [80]:
 print(~a)

-6

In [81]:
 print(a << 1)

10

In [82]:
 print(a >> 1)

2

 #6. Membership Operators
 #Check if a value exists in a sequence (e.g., list, string, tuple).

In [83]:
 fruits = ['apple', 'banana', 'mango']
print('apple' in fruits)

True

In [84]:
 print('grape' not in fruits)

True

#7. Identity Operators

#Checks if two variables refer to the same object in memory.

In [85]:
 x = [1, 2, 3]
 y = x
 z = [1, 2, 3]
 print(x is y)

True

In [86]:
 print(x is z)

False

In [87]:
 print(x is not z)

True

5.Explain the concept of type casting in Python with examples.

#Type casting is the process of converting a variable from one data type to another.
#They are of 2 types: A) Implicit; B) Xplicit
 #example:

In [90]:
 s = "100"
n=int(s)  #Converting string to integer
print(n)

100

In [91]:
num = 10
f = float(num)  #Converting int to float
print(f)

10.0

6.How do conditional statements work in Python? Illustrate with examples.

In [ ]:
 #Conditional statements are used to execute a block of code based on whether a condition is True or False. (if, if-else,if-elif-else)
 #if condition:
  #code to execute if condition is True

In [92]:
x=int(input('enter'))

if x>5:
  print("x is greater than 5") #if True print this.
else:
  print("x is not greater than 5") #if False print this.

enter10
x is greater than 5

7.Describe the different types of loops in Python and their use cases with examples.

 #A loop is a function that repeats a block of code multiple times aslong as a certain condition satisfies.
  #They are of 6 types:
   #for loop example

In [97]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

#while loop example

#Example of counting from 1 to 5

In [109]:
count=1
while count <= 5:
 print(count)
 count += 1

1
2
3
4
5

#break statement example
 # Example to stop the loop when a number is found

In [110]:
 for num in range(1, 10):
    if num == 5:
        break  # Exit the loop when num is 5
    print(num)

1
2
3
4

#continue statement example

#Example to skip printing even numbers

In [124]:
 for num in range(1, 6):
   if num %2 == 0:
    continue  #Skip even numbers
print(num)

5

 #nested loop example
 #Example with a nested for loop to print a multiplication table

In [125]:
 for i in range(1, 4):
   for j in range(1, 4):
     print(i * j, end=" ")
print()  #Move to the next line

1 2 3 2 4 6 3 6 9

 #else clause example
 #Example with a nested for loop to print a multiplication table
 #Example to search for a number in a list

In [143]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
 if num ==3:
  print("Found 3!")
  break
else:
 print("3 not found")

Found 3!